*{
    padding: 0;
    margin: 0;
}
body {
    font-size:16px;
    margin:30px 10px;
    font-family:century gothic;
    text-align: center;
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}
h1{
    font-size: 40px;
    color: white;
    padding: 10px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    letter-spacing: 10px;
    margin: 40px;
}

table {
    margin: auto;
    border: 1px black solid;
    min-width: 200px;
    font-size: 21px;
}

table th {
    color:black;
    background-color: white;
    padding:8px;
}

table td {
    padding:6px;
    margin: 0;
}

table tr:nth-child(odd){
    background-color: gray;
    color: white;
        margin: 0;

}

table tr:nth-child(even){
    background-color: white;
    color: black;

}

table tr:last-child{
    background-color: white;
    color: black;
}
