body{
    background-color: #331E36;
    text-align: center;
    color: white;
}
.foto{
    width: 500px;
    /*la altura automatica para no distorcionar*/
    padding: 10px;
    border: 2px solid white;
}
.dia{
    margin: 30px;
    font-family: cursive;
    font-size: 40px;
    border-bottom: 2px solid;
    border-top: 2px solid ;
}
